<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LoginTest01.Properties.Settings.Komac_TestConnectionString"
            connectionString="Data Source=INFORMATICS;Initial Catalog=Komac_Test;User ID=sa"
            providerName="System.Data.SqlClient" />
      <add name ="KomacDBTest"
           connectionString="Data Source=INFORMATICS;Initial Catalog=Komac_Test;User ID=sa;Password=komac11234"
           providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>